/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-card {
    width : 60%;
    margin : 3rem;
    
}
mat-accordion{
    margin : 3rem;
    
}
mat-toolbar {
    text-align: left;
    color: darkorchid;
}

